{
  "id": "7a01a0cb-f7b1-49c0-a1bf-b5c6dfaae65e",
  "name": "Contoso Team Provisioning",
  "description": "",
  "auth": null,
  "events": null,
  "variables": [],
  "order": [
    "ca2c57b4-2460-4146-9111-8a37f3f8e62f",
    "e63a0fa2-4446-47ae-98b8-d71ddb5405bd",
    "e113993d-be6b-4569-a7de-e5f06a49bd84"
  ],
  "folders_order": [],
  "folders": [],
  "requests": [
    {
      "id": "ca2c57b4-2460-4146-9111-8a37f3f8e62f",
      "name": "CreateFlightTeam",
      "url": "https://<your-azure-function-url>/api/CreateFlightTeam",
      "description": "",
      "data": [],
      "dataMode": "raw",
      "headerData": [
        {
          "key": "Content-Type",
          "value": "application/json"
        }
      ],
      "method": "POST",
      "pathVariableData": [],
      "queryParams": [],
      "auth": {
        "type": "oauth2",
        "oauth2": [
          {
            "key": "accessToken",
            "value": ""
          },
          {
            "key": "tokenType",
            "value": "Bearer"
          },
          {
            "key": "addTokenTo",
            "value": "header",
            "type": "string"
          }
        ]
      },
      "events": [],
      "folder": null,
      "rawModeData": "{\n\t\"flightNumber\": 149.7,\n\t\"description\": \"JAX to SEA\",\n\t\"admin\": \"alland@contoso.onmicrosoft.com\",\n\t\"pilots\": [\n\t\t\"christiec@contoso.onmicrosoft.com\",\n\t\t\"adelev@contoso.onmicrosoft.com\"\n\t],\n\t\"flightAttendants\": [\n\t\t\"debrab@contoso.onmicrosoft.com\",\n\t\t\"emilyb@contoso.onmicrosoft.com\"\n\t],\n\t\"cateringLiaison\": \"outlookdevcenter@gmail.com\",\n\t\"departureGate\": \"A12\",\n\t\"departureTime\": \"2018-10-1T09:00:00-04:00\"\n}",
      "headers": "Content-Type: application/json\n",
      "pathVariables": {}
    },
    {
      "id": "e113993d-be6b-4569-a7de-e5f06a49bd84",
      "name": "NotifyFlightTeam",
      "url": "https://<your-azure-function-url>/api/NotifyFlightTeam",
      "description": "",
      "data": [],
      "dataMode": "raw",
      "headerData": [
        {
          "key": "Content-Type",
          "value": "application/json"
        }
      ],
      "method": "POST",
      "pathVariableData": [],
      "queryParams": [],
      "auth": {
        "type": "oauth2",
        "oauth2": [
          {
            "key": "accessToken",
            "value": ""
          },
          {
            "key": "tokenType",
            "value": "Bearer"
          },
          {
            "key": "addTokenTo",
            "value": "header",
            "type": "string"
          }
        ]
      },
      "events": [],
      "folder": null,
      "rawModeData": "{\n\t\"flightNumber\": 133.7,\n\t\"newDepartureGate\": \"A47\"\n}",
      "headers": "Content-Type: application/json\n",
      "pathVariables": {}
    },
    {
      "id": "e63a0fa2-4446-47ae-98b8-d71ddb5405bd",
      "name": "ArchiveFlightTeam",
      "url": "https://<your-azure-function-url>/api/ArchiveFlightTeam",
      "description": "",
      "data": [],
      "dataMode": "raw",
      "headerData": [
        {
          "key": "Content-Type",
          "value": "application/json"
        }
      ],
      "method": "POST",
      "pathVariableData": [],
      "queryParams": [],
      "auth": {
        "type": "oauth2",
        "oauth2": [
          {
            "key": "accessToken",
            "value": ""
          },
          {
            "key": "tokenType",
            "value": "Bearer"
          },
          {
            "key": "addTokenTo",
            "value": "header",
            "type": "string"
          }
        ]
      },
      "events": [],
      "folder": null,
      "rawModeData": "{\n\t\"flightNumber\": 133.7\n}",
      "headers": "Content-Type: application/json\n",
      "pathVariables": {}
    }
  ]
}