{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "AzureWebJobsDashboard": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "TenantId": "YOUR TENANT ID HERE",
    "TenantName": "YOUR TENANT NAME HERE (contoso.onmicrosoft.com)",
    "AppId": "YOUR APP ID HERE",
    "AppSecret": "YOUR APP SECRET HERE",
    "TeamAppToInstall": "1542629c-01b3-4a6d-8f76-1938b779e48d",
    "FlightAdminSite": "FlightAdmin",
    "FlightLogFile": "Flight Log.docx",
    "NotificationAppId": "YOUR CROSS DEVICE EXPERIENCE HOST NAME"
  }
}